// ...existing code...
<div class="course-navigation">
    <% if (currentPage > 1) { %>
        <button onclick="goToPage('<%= courseId %>', <%= currentPage - 1 %>)" class="nav-btn prev btn-xs">Previous</button>
    <% } %>
    
    <% if (currentPage < totalPages) { %>
        <button onclick="goToPage('<%= courseId %>', <%= currentPage + 1 %>)" class="nav-btn next btn-xs">Next</button>
    <% } else { %>
        <a href="/courses" class="nav-btn return btn-xs">Return</a>
    <% } %>
</div>
// ...existing code...