<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>module</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="bckgrnd">
        <div class="text-box">
            <p>TEXT BOX HERE</p>
            <p>TEXT</p>
        </div>
    </div>
    <div class="text-bar">
        <P>Text</P>
        <p>More text</p>
    </div>
    <div class="module-container">
        <P>Title</P>
        <p>Heading</p>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Tailored Learning Paths</button>
            <button onclick="myFunction()" class="dropbtn">Learning Themes and Subjects</button>
        </div>
        <div class="module">
            <p>modules here</p>
        </div>
    </div>
</body>
</html>