

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

header {
    background-color: white;
    color: white;
    padding: 0.5vw 0.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    padding-left: 1.5vh;
    width: 7.5vw;
    height: 2.8vw;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #007BFF; /* Blue color for titles */
    margin-bottom: 18px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

footer {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
