
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    background-color: white;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 50px;
    margin-right: 10px;
}

.company-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    outline: none;
}

.search-bar input {
    padding: 10px;
    border: 2px solid #333; 
    border-radius: 5px;
    width: 300px;
    outline: none; 
    transition: border-color 0.3s ease; 
}

.search-bar input:focus {
    border-color: #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}


.search-bar button:hover {
    background-color: #0056b3; 
}


.header-options {
    display: flex;
    gap: 20px;
}

.notification-icon,
.user-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color:#333;
}

.hero-section {
    background: url('./Images/background.png') no-repeat center center;
    background-size: cover;
    color: rgb(35, 28, 28);
    padding: 50px 20px;
    height: 70vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    text-align: center;
}




.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    
}

.hero-section p {
    font-size: 1.2rem;
}


.courses-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.course-category {
    border: 1px solid #ccc;
    padding: 15px;
    width: 45%;
    border-radius: 5px;
    background: #f9f9f9;
}

.course-list {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.course-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
}

.course-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

button {
    background-color: whitesmoke;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}
